# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Eclipse
.settings
.cproject
.project

# .gitignore temp file
.gitignore~
.gitignore.swp.!sync
